.drawings{
    position: relative;
    margin-top:12px;
    .leftbar{
        // float:left;
        display: block;
        position: relative;
        width:100%;
        // width: 20%;
        // vertical-align: top;
        text-align: center;
        .btn{
            width:20%;
            padding:1% 2%;
        }
    }
    .wire.part1{
        position:absolute;
        top:calc(60px + 6%);
        left:67.7%;
        width:28.2%;
        height:2%;
        z-index:97;
    }
    .wire.part2{
        position:absolute;
        top:calc(74px + 16.4%);
        left:67.7%;
        width:28.2%;
        height:2%;
        z-index:97;
    }
    .wire.area1{
        position:absolute;
        top:calc(50px + 12%);
        left:40.6%;
        width:7.5%;
        height:10.3%;
        z-index:97;
    }
    .wire.area2{
        position:absolute;
        top:calc(50px + 64%);
        left:40%;
        width:8%;
        height:9.7%;
        z-index:97;
    }
    .draw.part1{
        position:absolute;
        top:calc(60px + 5%);
        left:47.5%;
        width:46.7%;
        height:1.5%;
        z-index:97;
    }
    .draw.part2{
        position:absolute;
        top:calc(74px + 16%);
        left:47.5%;
        width:46.7%;
        height:1.5%;
        z-index:97;
    }
    .draw.area1{
        position:absolute;
        top:calc(50px + 16%);
        left:12.1%;
        width:7.5%;
        height:6.7%;
        z-index:97;
    }
    .draw.area2{
        position:absolute;
        top:calc(50px + 26%);
        left:12.1%;
        width:7.5%;
        height:6.7%;
        z-index:97;
    }
    .boxer .addtocart{
        position:relative;
        font-size:14px;
        top:-5px;
        left:-28%;
        padding:0.3% 2.5%;
        color:white;
        border-radius: 10px;
        border:1px solid white;
        background: #01B0BA;
        text-decoration: underline;
        display:none;
    }
    .boxer.draw .addtocart{
        left:-19%;
    }
    .boxer .addtocart:before{
        content: attr(data-content);
    }
    .target{
        border:1px dashed red;
        background:rgba(1, 176, 186, 0.2);
        .addtocart{
            display:inline-block;
        }
    }
    .boxer a{
        position: inherit;
        width:100%;
        height:100%;
        cursor:pointer;
    }
    #canvas{
        // float:left;
        display: block;
        position: relative;
        width:100%;
        border-left:1px solid #cccccc;
        padding-left: 6px;
        // text-align: left;
        z-index: 96;
        img{
            width: 100%;
            // max-width: 100%;
            height: auto;
            z-index: 97;
        }
        .rect {
            position: absolute;
            border: 1px dashed red;
            background-color: rgba(255, 255, 0, 0.05);
            z-index: 98;
        }
        .dcomment{
            background-color:rgba(255, 0, 0, 0.2)
        }
        .tooltip{
            display:none;
            width:300px;
            height:auto;
            padding:10px;
            position:absolute;
            font-size:calc(10px + 0.5vw);
            top:5px;
            left:20px;
            background:#01B0BA;
            color:white;
            // z-index:inherit;
        }
    }
}


@media (max-width: 600px) {
    .drawings{
        .leftbar{
            width:100%;
            .btn{
                max-width: 150px;
                font-size: 13px;
            }
        }
        .wire.area2{top:calc(30px + 64%);}
        .wire.part1{top:calc(55px + 6%);}
        .wire.part2{top:calc(60px + 16.6%);}
        .draw.part2{top: calc(60px + 16%);}
        .boxer .addtocart{
            top:-8px;
            left:-15px;
        }
        #canvas{
            width:100%;
        }
    }
}
@media only screen and (min-device-width: 601px) and (max-device-width:1024px) and (orientation: landscape){
    .drawings {
        .draw.part1{
            top: calc(60px + 4.5%);
        }
        .draw.part2{
            top: calc(74px + 15.2%);
        }
        .wire.part1{
            top: calc(60px + 5%);
        }
        .wire.part2{
            top: calc(60px + 17.5%);
        }
        .boxer.wire .addtocart{
            left:-35%;
        }
        .boxer.draw .addtocart{
            left:-22%;
        }
    }   
}

@media only screen and (device-width:812px) and (orientation: landscape){
    .drawings {
        .boxer .addtocart{
            left:-34%;
        }
    }   
}
