.drawings{
    position: relative;
    margin-top:12px;
    .leftbar{
        float:left;
        display: block;
        position: relative;
        width: 20%;
        vertical-align: top;
        text-align: center;
    }
    #canvas{
        float:left;
        display: block;
        position: relative;
        width:80%;
        border-left:1px solid #cccccc;
        padding-left: 6px;
        text-align: left;
        z-index: 96;
        img{
            width: 96%;
            max-width: 100%;
            height: auto;
            z-index: 97;
        }
        .rect {
            position: absolute;
            border: 1px dashed red;
            background-color: rgba(255, 255, 0, 0.05);
            z-index: 98;
        }
    }
}


@media (max-width: 600px) {
    .drawings{
        .leftbar{
            width:100%;
            .btn{
                max-width: 150px;
                font-size: 13px;
            }
        }
        #canvas{
            width:95%;
        }
    }
}

