.header{
    height: 80px;
    background: black;
    box-sizing: border-box;
    border: 1px solid transparent;
    .logo{
        background: url(../images/logo.svg) no-repeat;
        width: 20%;
        height: 60px;
        margin: 8px;
        box-sizing: border-box;
        display: inline-block;
    }
    .title{
        display: inline-block;
        color: white;
        font-weight: lighter;
        font-size: 34px;
        vertical-align: 25px;
        margin-left: 24px;
    }

}