.header{
	display: inline-table;
    height:80px;
	width:100%;
	background:black;
    padding:6px;
    .logo{
        display: table-cell;
        vertical-align: middle;
        width: 14%;
        min-width: 120px;
    }
    .title{
        display: table-cell;
        padding-left:5%;
        vertical-align: middle;
        color:white;
        font-weight: lighter;
        font-size: calc(16px + 1.1vw);
    }

}