.header{
	display: inline-table;
    height:80px;
	width:100%;
	background:black;
    padding:6px;
    .logo{
        display: table-cell;
        vertical-align: middle;
        width: 14%;
        min-width: 120px;
    }
    .title{
        display: table-cell;
        padding-left:5%;
        vertical-align: middle;
        color:white;
        font-weight: lighter;
        font-size: calc(16px + 1.1vw);
    }
    .cart-container{
        width:60px;
        position:relative;
        display:table-cell;
        text-align:right;
        vertical-align:middle;
        .cart img{
            width:100%;
        }
        .item-count{
            position: absolute;
            display: none;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            font-size:20px;
            border-radius: 50%;
            background: white;
            text-align:center;
        }
    }
}
@media (max-width: 600px) {
    .header{
        .title{
            font-size: calc(16px + 0.9vw);
        }
    }
}