.machinery.container{
    .item{
        position: relative;
        margin:3% auto;
        max-width:960px;
        padding-right:10px;
        padding-left:10px;
        clear:left;
        a{
            position: relative;
            float:left;
            margin-right:2%;
            margin-bottom:1%;
            min-height:250px;
            width:30%;
            max-height:40%;
            border:2px solid #01B0BA;
            text-decoration:none;
            z-index:99;
            p{
                position: relative;
                font-family:$font;
                font-size:1.5em;
                font-weight:bold;
                padding:2%;
                text-align:center;
                color:#f5f5f5;
                background:#01B0BA;
            }
            img{
                position:absolute;
                padding:1%;
                width:98%;
                min-height:80%;
            }
        }
        .comments-block{
            display:none;
            position:relative;
            width:0%;
            min-height:250px;
            padding:2%;
            border: 1.5px solid #01B0BA;
            .comments-list{
                height:180px;
                background:#f5f5f5;
                overflow:auto;
                p{
                    padding:1%;
                }
            }
        }
        &:hover .comments-block, &:active .comments-block{
            display:block;
            word-wrap: none;
            width:100%;
        }
    }
    .feedback{
        position:relative;
        clear:left;
        margin:3% auto;
        max-width:960px;
        padding-right:10px;
        padding-left:10px;
        textarea{
            position:relative;
            width:90%;
        }
    }
}
