.js-wrapper{
    position: fixed !important;
    z-index: 999 !important;
    top: 0;
    left: 0;
    background: rgba(208, 208, 208, 0.8);
    width: 100%;
    height: 100%;
}
.js-show-comments{
    top: 90px !important;
}

.cart-container{
    position:relative;
    float:right;
    width:100%;
    text-align:right;
    margin:1% 0;
    .cart a{
        display:inline;
        vertical-align: middle;
        color:#000;
        font-size:calc(12px + 0.75vw);
        text-decoration: none;
    }
    .cart img{
        display:inline;
        vertical-align: middle;
        width:40px;
    }
    .item-count{
        position: absolute;
        display: none;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        font-size:20px;
        border-radius: 50%;
        background: white;
        text-align:center;
    }
}
.machinery.container{
    clear:both;
    .item{
        position: relative;
        margin:1% auto;
        max-width:960px;
        padding-right:10px;
        padding-left:10px;
        clear:left;
        a{
            position: relative;
            float:left;
            margin-right:2%;
            min-height:250px;
            width:30%;
            max-height:40%;
            border:2px solid #01B0BA;
            text-decoration:none;
            z-index:99;
            p{
                position: relative;
                font-family:$font;
                font-size:calc(12px + 1.1vw);
                font-weight:bold;
                padding:2%;
                text-align:center;
                color:#f5f5f5;
                background:#01B0BA;
            }
            img{
                position:absolute;
                padding:1%;
                width:98%;
                min-height:80%;
            }
        }
        .comments-block{
            display:block;
            word-wrap:none;
            position:relative;
            width:100%;
            min-height:250px;
            padding:2%;
            border: 1.5px solid #01B0BA;
            .comments-list{
                height:180px;
                background:#f5f5f5;
                overflow:auto;
                p{
                    padding:1%;
                }
            }
        }
    }
    .feedback{
        position:relative;
        clear:left;
        margin:3% auto;
        max-width:960px;
        padding-right:10px;
        padding-left:10px;
        textarea{
            position:relative;
            width:100%;
        }
        .button-bar{
            text-align:right;
            input.button{
                padding:1%;
                margin-bottom:0.5%;
                color: #fff;
                cursor:pointer;
                font-size: calc(12px + 0.3vw);
                transition: all 0.4s;
                background-color: $buttoncolor;
                border-color: $buttoncolor;
                border: 1px solid transparent;
                border-radius: 4px;
                &:hover{
                    color: #fff;
                    background-color: $buttoncolorhover;
                    border-color: $buttoncolorhover;
                }
            }
        }
    }
}
