*{
    margin:0;
    padding:0;
}
.branding{
    display:block;
    background: #483011;
    width:100%;
    height:55vh;
    .logo{
        position: relative;
        margin:0vh 8vh 0;
        min-width:160px;
		width:16vw;
		height:auto;
    }
    .title, .subtitle{
        position: relative;
        color:white;
        text-align:center;
        width:100%;
        font-size: calc(20px + 2vw);
        text-transform:uppercase;
        letter-spacing:2px;
    }
}

.banner{
    position:relative;
    z-index:99;
    text-align:center;
    margin:-10vh 4vh;
    .items {
        display:inline-block;
        min-width:120px;
        min-height:120px;
        margin-right: 24px;
        width: 18vw;
        height: 18vw;
        border-radius:8px;
    }
    .items.item-1{
        background: url('../images/banners/banner-1.jpg') no-repeat;
        background-size: cover;
    }
	.items.item-2{
        background: url('../images/banners/banner-2.jpg') no-repeat;
        background-size: cover;
    }
	.items.item-3{
        background: url('../images/banners/banner-3.jpg') no-repeat;
        background-size: cover;
    }
}

