@import "variables";
@import "font";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.branding{
	background-color: $themecolor;
	.hidden-xs{
		position:absolute;
		display:block;
		background-image: url('../images/banners/home-hero-cover.png') no-repeat;
		width:100%;
		height:100%;				
	}
	.visible-xs{
		position:absolute;
		display:block;
		background-image: url('../images/banners/home-hero-cover.png') no-repeat;
		width:100%;
		height:100%;				
	}
    .logo{
        position: relative;
        margin:0vh 5vh 0;
        min-width:160px;
		width:16vw;
		height:auto;
    }
	.title{
        position: relative;
        color:white;
        text-align:center;
		margin-top:70px;
		margin-left:4px;
	    font-size: calc(30px + 2vw);
        text-transform:capitalize;
        letter-spacing:2px;
		width:25vw;
		min-width:160px;
		min-height:160px;
		vertical-align:middle;
		min-line-height:6vw;
		height:10vw;
		font-family : $font;
		font-weight: thinner;		
    }
    .subtitle{
        position: relative;
        color:white;
        text-align:center;
        width:100%;
        font-size: calc(20px + 2vw);
        text-transform:uppercase;
        letter-spacing:2px;
    }
}

.mainmap{
		text-align:left;
		min-height:50px;
		min-width:50px;
		font-size:calc(12px + 2vw);
		font-weight:bold
}

.searchengine{
		position: absolute;
		display:block;
		width:20%;
		min-width:20%;
		min-width:100px;
		min-height:100px;
		padding-top:285px;
		margin-left:260px;
		z-index:99;
}